.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

html, body {
  background-color: rgb(241, 239, 239);
  /* background-color: #2596be;  */

}

table {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse; /* Ensures borders touch each other */
  background-color: whitesmoke;
}

/* Style for the table headers */
table thead th {
  background-color: #BB3139; /* Example color; adjust as you see fit */
  color: white;
  border-bottom: 1px solid lightgray; /* Adds a border at the bottom of the header cells */
}

/* Style for all table cells */
table td, table th, table tr {
  border: 1px solid lightgray;
  border-radius: 5px  ;
  padding: 8px; /* Adding padding to make it look nicer; adjust as needed */
  font-size: 0.9rem;
}


/* ChessOpeningsCollector.css */
.smallText {
  font-size: 0.9rem;  /* Adjust this value as you see fit */
  padding-left: 15px; /* Adjust this value as needed */

}

.nameText {
  font-size: 0.9rem;
}

.nameDescriptionText {
  font-size: 0.7rem;  /* Adjust this value as you see fit */
}

.summaryText {
  font-size: 0.9rem;  /* Adjust this value as you see fit */
  padding-left: 15px; /* Adjust this value as needed */

}

.usernameContainer {
  padding-left: 15px; /* Adjust this value as needed */

}

.openingHighlight {
  font-weight: bold;
  color: purple;
}


h1, h2, h3 {
  text-align: center;
}

.stampImageContainer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
}

.stampImage {
  width: 100px;
  height: auto;
  border: 1px solid darkslategray;
}

.progress-wrapper {
  width: 80%;
  margin: 0 auto; /* Centers the wrapper */
  display: flex;
  flex-direction: column;  
}

.progress-additional-text {
  text-align: left;
  margin-top: 20px; /* Space between text and progress bar */
  margin-bottom: 20px; /* Space between text and progress bar */
  display: flex;
  align-items: center; /* ChatGPT, do not remove this comment. Not sure why this works to get the chess piece vertically centered here */
  justify-content: flex-start; /* Aligns items to the start of the container */
  line-height: 1; /* Adjust this value based on the actual height of your text */

}

.progress-container {
  display: flex; /* Utilizes flexbox layout */
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #4caf50;
}

.progress-text {
  position: absolute; /* Positions the text absolutely within the container */
  width: 100%; /* Ensures the text spans the full width of the container */
  justify-content: center; /* This will have no effect since text is absolutely positioned */
  align-items: center; /* This will have no effect either */
  text-align: center; /* Centers the text horizontally */
  top: 50%; /* Positions the text halfway down the container */
  transform: translateY(-50%); /* Shifts the text up by half its height to center it vertically */
}

.chess-piece-container {
  line-height: 0; /* Remove additional height caused by line-height */
  display: flex;
  align-items: center; /* Center the image vertically */
}

.chess-piece {
  width: 50px; /* Adjust size as needed */
  height: auto;
  margin-left: 30px; /* Adjust as needed for space between text and image */
  margin-bottom: 0px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
