/*
https://coolors.co/3c3744-090c9b-3d52d5-b4c5e4-fbfff1
These colors aren't bad for future


Color of stmap image: #fefbea
*/

html, body {
  background: #FFF5EE;
  font-family: Arial, sans-serif;
  /* background-color: #2596be;  */
}

.upper-container {
  background-color: #FFF5EE;
  }

  @media screen and (min-width: 768px) {
    .upper-container {
      background-image: url("/public/assets/misc_images/chessboard_partial.svg");
      background-position: right;
      background-repeat: no-repeat;
    }
      
  } 

  .lower-container {
    background-color: #f5f5f5;
    }

 h2, h3 {
  text-align: center;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 130%;
}

h1 {
  text-align: center;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 175%;
  font-weight: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.opaque-tooltip .MuiTooltip-tooltip {
  opacity: 1;
  background-color: red;
}



.select-timeframe-text {
  font-size: 0.8rem;  /* Adjust this value as you see fit */
  text-align: right;
  margin-top: 3px;
}

.small-select .MuiMenuItem-root {
  font-size: 0.5rem;
}

.grandmaster-names-block {
  font-size: 0.9rem;  /* Adjust this value as you see fit */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
  max-width: 80%;
}

.grandmaster-names-block a {
  color: purple; /* Change to your preferred color */
  text-decoration: underline dotted
}

.grandmaster-names-block a:hover {
  text-decoration: underline dashed
}

.nameText {
  font-size: 0.9rem;
}

.nameDescriptionText {
  font-size: 0.7rem;  /* Adjust this value as you see fit */
}

.summaryText {
  font-size: 1rem;  /* Adjust this value as you see fit */
}

.summaryChart {
  max-width: 100%;  /* Adjust this value as you see fit */
  margin-top: 0px;
  padding-top: 0px;
}

.dotted-underline {
  text-decoration: underline dotted;
}

.dotted-underline:hover {
  text-decoration: underline dashed;
}

.usernameContainer {
  padding-left: 15px; /* Adjust this value as needed */
  margin-bottom: 15px;

}

.openingHighlight {
  font-weight: bold;
  color: purple;
  font-size: 1.1rem;
  padding-bottom: 5px;
  display: inline-block;
  text-decoration: underline;

}

.stampImageContainer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
}

.header-tooltip-icon {
  display: flex;
  align-items: center;
}

.tooltip-content {
  text-align: left;
  font-size: 1rem;
}

.stampImage {
  width: 180px;
  height: auto;
  border: none;
}

.tooltip-text {
  color: #222;
  font-size: .75em;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.progress-wrapper {
  width: 60%;
  margin: 0 auto; /* Centers the wrapper */
  padding: 5px;
  display: flex;
  flex-direction: column;  
  background-color: white;
  border-radius: 20px;
  border-color: #2074d4;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Horizontal offset, vertical offset, blur radius, color */
}

@media (max-width: 700px) {
  .progress-wrapper {
    width: 90%;

  }
}

.progress-cancel-button {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-additional-text {
  margin-top: 10px; /* Space between text and progress bar */
  margin-bottom: 0px; /* Space between text and progress bar */
  display: flex;
  align-items: center; /* Keeps items vertically centered */
  justify-content: center; /* Horizontally centers items in the container */
  text-align: center;

  line-height: 1; /* Adjust this value based on the actual height of your text */
}

.progress-bar-subtitle {
  font-size: 0.8em;
  padding-bottom: 5px;
  text-align: center;

}

.progress-bar-container {
  display: flex; /* Utilizes flexbox layout */
  position: relative;
  width: 90%;
  height: 40px;
  background-color: #e0e0e0;
  border-color: black;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2); /* Horizontal offset, vertical offset, blur radius, color */

}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #4caf50;
  border-color: black;
  
}

.progress-text {
  position: absolute; /* Positions the text absolutely within the container */
  width: 100%; /* Ensures the text spans the full width of the container */
  justify-content: center; /* This will have no effect since text is absolutely positioned */
  align-items: center; /* This will have no effect either */
  text-align: center; /* Centers the text horizontally */
  top: 50%; /* Positions the text halfway down the container */
  transform: translateY(-50%); /* Shifts the text up by half its height to center it vertically */
  font-weight: bold;
}

.chess-piece-container {
  line-height: 0; /* Remove additional height caused by line-height */
  display: flex;
  align-items: center; /* Center the image vertically */
}

.chess-piece {
  width: 20px; /* Adjust size as needed */
  height: auto;
  margin-left: 15px; /* Adjust as needed for space between text and image */
  margin-bottom: 0px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.intro-container {
  margin: auto;
  margin-bottom: 0px;
  max-width: 40%;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .intro-container {
    max-width: 85%;

  }
}

.results-summary-parent-container {
  background-color: #f9f9f9;
  
  border-color: lightgrey;
  border-style: solid;
  /* border-radius: 5px; */
  border-width: 1px 0px 1px 0px;
  padding: 10px;
  padding-top: 10px;

  /*
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  */

}

.results-summary-container {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 40%;
  /* background-color: #B4C5E4; */
  color: black;

}

@media (max-width: 700px) {
  .results-summary-container {
    max-width: 85%;

  }
}

.results-summary-container h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 4px;
  text-align: center;
  color: #2074d4;
  text-decoration: underline;
}

.grid-outer-container {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  /* background-color: #B4C5E4; */
  color: black;


}

.lower-container h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
  text-align: center;
  color: #2074d4;
  text-decoration: underline;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  max-width: 70%;
  margin: auto;  
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
    max-width: 90%;

  }
}

.row {
  display: grid;
  grid-template-areas: 
    "label label"
    "chessboard text";
  grid-template-columns: 1fr 3fr;
  margin: 0px 5px; /* vertical margin 0px, horizontal margin 0 */
  margin-bottom: 10px;
  padding: 0px;
  border: 1px solid #ccc; /* add this line */
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

@media (max-width: 700px) {
  .row {
    grid-template-areas: 
      "label"
      "chessboard"
      "text";
    grid-template-columns: 1fr;
    justify-items: center; /* centers the grid items horizontally */


  }
}

.row-body {
  display: flex;
}

.label-row {
  grid-area: label;
  font-family: 'M PLUS Rounded 1c', Arial, sans-serif;
  font-size: 1em;
  color: #333;
  align-items: center;
  justify-content: center;
  background-color: #3A75C4;
  color: white;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label-description {
  text-transform: lowercase;
  font-size: 0.7em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-bottom: 3px;
  padding: 0px;

}

.chess-image {
  grid-area: chessboard;
  min-width: 200px;
  max-width: 250px;
  max-height: 250px;
  padding: 5px;
  box-sizing: border-box;
  align-self: start; 
}

.text {
  grid-area: text;
  width: 90%;
  padding: 10px;
  color: #111;
  align-self: start; 
}

.link {
  text-decoration: none;
  color: #000;
}

.rarity {
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}


.all-openings-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  max-width: 70%;
  margin: auto;
}

.all-openings-grid-item {
  display: flex;
  align-items: center; /* Vertically align items in the center */
  justify-content: center; /* Horizontally align items in the center */
  margin: 0px 5px; /* vertical margin 0px, horizontal margin 0 */
  margin-bottom: 10px;
  padding: 0px;
  border: 1px solid gray; /* add this line */
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 0.9em;
  color: black;
}

.all-openings-grid-item a {
  color: inherit; /* This will make the link have the same color as the text in .all-openings-grid-item */
  text-decoration: none; /* This will remove the underline from the link */
}

.all-openings-grid-item a:hover,
.all-openings-grid-item a:active,
.all-openings-grid-item a:focus {
  color: inherit; /* This will make the link have the same color when hovered, clicked or focused */
  text-decoration: underline; /* This will remove the underline from the link */
}

.all-openings-intro-container {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.all-openings-intro-subtitle {
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
}


@media (max-width: 700px) {
  .all-openings-grid-container {
    grid-template-columns: 1fr;
    max-width: 90%;
  }
}

.colorful {
  background-color: lightgreen; /* Light green background for items with player_total > 0 */
}

#chessImageContainer {
  position: fixed;
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  z-index: 1;
  pointer-events: none; /* This will prevent the div from blocking mouse events */
}


.show-all-openings-button-container {
  margin: 0em;
  padding: 1em;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  gap: 30px; 
}