/*
https://coolors.co/3c3744-090c9b-3d52d5-b4c5e4-fbfff1
These colors aren't bad for future


Color of stmap image: #fefbea
*/

html, body {
  background-color: #EEF4ED;
  font-family: Arial, sans-serif;
  /* background-color: #2596be;  */

}

 h2, h3 {
  text-align: center;
  font-family: 'Lato', Arial, sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 300%;
  font-weight: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* ChessOpeningsCollector.css */
.smallText {
  font-size: 0.9rem;  /* Adjust this value as you see fit */

}

.nameText {
  font-size: 0.9rem;
}

.nameDescriptionText {
  font-size: 0.7rem;  /* Adjust this value as you see fit */
}

.summaryText {
  font-size: 1rem;  /* Adjust this value as you see fit */
}

.usernameContainer {
  padding-left: 15px; /* Adjust this value as needed */
  margin-bottom: 15px;

}

.openingHighlight {
  font-weight: bold;
  color: purple;
  font-size: 1.1rem;
  padding-bottom: 5px;
  display: inline-block;
  text-decoration: underline;

}

.stampImageContainer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
}

.stampImage {
  width: 180px;
  height: auto;
  border: none;
}

.progress-wrapper {
  width: 80%;
  margin: 0 auto; /* Centers the wrapper */
  display: flex;
  flex-direction: column;  
  background-color: lightblue;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Horizontal offset, vertical offset, blur radius, color */
}

.progress-additional-text {
  margin-top: 10px; /* Space between text and progress bar */
  margin-bottom: 10px; /* Space between text and progress bar */
  display: flex;
  align-items: center; /* Keeps items vertically centered */
  justify-content: center; /* Horizontally centers items in the container */
  line-height: 1; /* Adjust this value based on the actual height of your text */
}

.progress-bar-container {
  display: flex; /* Utilizes flexbox layout */
  position: relative;
  width: 90%;
  height: 40px;
  background-color: #e0e0e0;
  border-color: black;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2); /* Horizontal offset, vertical offset, blur radius, color */

}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #4caf50;
  border-color: black;
  
}

.progress-text {
  position: absolute; /* Positions the text absolutely within the container */
  width: 100%; /* Ensures the text spans the full width of the container */
  justify-content: center; /* This will have no effect since text is absolutely positioned */
  align-items: center; /* This will have no effect either */
  text-align: center; /* Centers the text horizontally */
  top: 50%; /* Positions the text halfway down the container */
  transform: translateY(-50%); /* Shifts the text up by half its height to center it vertically */
  font-weight: bold;
}

.chess-piece-container {
  line-height: 0; /* Remove additional height caused by line-height */
  display: flex;
  align-items: center; /* Center the image vertically */
}

.chess-piece {
  width: 50px; /* Adjust size as needed */
  height: auto;
  margin-left: 15px; /* Adjust as needed for space between text and image */
  margin-bottom: 0px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.intro-container {
  margin: auto;
  margin-bottom: 20px;
  max-width: 60%;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: navajowhite;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

@media (max-width: 700px) {
  .intro-container {
    max-width: 80%;

  }
}

.results-summary-container {
  margin: auto;
  margin-bottom: 0px;
  max-width: 60%;
  padding: 10px;
  margin-bottom: 10px;  
  background-color: #B4C5E4;
  color: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

@media (max-width: 700px) {
  .results-summary-container {
    max-width: 80%;

  }
}




.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  max-width: 70%;
  margin: auto;  
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
    max-width: 90%;

  }
}

.row {
  display: grid;
  grid-template-areas: 
    "label label"
    "chessboard text";
  grid-template-columns: 1fr 3fr;
  margin: 0px 5px; /* vertical margin 0px, horizontal margin 0 */
  margin-bottom: 10px;
  padding: 0px;
  border: 1px solid #ccc; /* add this line */
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

@media (max-width: 700px) {
  .row {
    grid-template-areas: 
      "label"
      "chessboard"
      "text";
    grid-template-columns: 1fr;
    justify-items: center; /* centers the grid items horizontally */


  }
}

.row-body {
  display: flex;
}

.label-row {
  grid-area: label;
  font-family: 'M PLUS Rounded 1c', Arial, sans-serif;
  font-size: 1em;
  color: #333;
  align-items: center;
  justify-content: center;
  background-color: #3A75C4;
  color: white;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label-description {
  text-transform: lowercase;
  font-size: 0.7em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-bottom: 3px;
  padding: 0px;

}

.chess-image {
  grid-area: chessboard;
  min-width: 200px;
  max-width: 250px;
  max-height: 250px;
  padding: 5px;
  box-sizing: border-box;
  align-self: start; 
}

.text {
  grid-area: text;
  width: 90%;
  padding: 10px;
  color: #111;
  align-self: start; 
}

.link {
  text-decoration: none;
  color: #000;
}

.rarity {
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;


}